.stats-section{
    border: 1pt black;
    border-style: solid;
}

.app-stats {
    background-color: lightgrey;
    padding: 4%;
    .low {
        color: black;
        background-color: #808080;
    }
    .normal {

        color: white;
    }
    .high {
        color: white;
        background-color: #ff5722;
    }
    .invisible {
        display: none;
    }
}