<!--<app-test-services></app-test-services>
<app-ui-test-card></app-ui-test-card>

<app-test-observables></app-test-observables>-->


<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Movie Database</span>
    <!--<span class="example-spacer"></span>
    <a routerLink="/categories">Categories</a>
    |
    <a routerLink="/countries">Countries</a>
    |
    <a routerLink="/actors">Actors</a>
    |
    <a routerLink="/movies">Movies</a>
    |
    <a routerLink="/page-list">Page-list</a>-->
    <span class="example-spacer"></span>
    <!-- <mat-icon class="material-icons">&#xE8B6;</mat-icon>
      <input matInput placeholder="Search movie..." value="Avengers">-->
  </mat-toolbar-row>

 


</mat-toolbar>
<mat-toolbar style="background-color:gray;">

    <mat-toolbar-row >
      <div class="router-toolbar">
        <span><a routerLink="/categories">Categories</a></span>
       
        <span><a routerLink="/countries">Countries</a></span>
        
        <span><a routerLink="/actors">Actors</a></span>
       
        <span><a routerLink="/movies">Movies</a></span>
        
        <a routerLink="/page-list">List</a>
      </div>
        <span class="example-spacer"></span>
       
        <mat-icon class="example-icon">delete</mat-icon>
    </mat-toolbar-row>

</mat-toolbar>



<!--<div class="links-container">

  <a routerLink="/categories">Categories</a>
  |
  <a routerLink="/countries">Countries</a>
  |
  <a routerLink="/actors">Actors</a>
  |
  <a routerLink="/movies">Movies</a>
  |
  <a routerLink="/page-list">Page-list</a>
  <br>
</div>-->
<br>

<div class="basic-container">
  <router-outlet></router-outlet>
</div>