.app-page-detail {
    .title {
        font-weight: bolder;
        margin-top: 1em;
    }
    .overview {
        border: 1px  lightgray solid;
        margin-top: 1em;
        overflow-y: auto;
        overflow-x: hidden;
    }
    
    
}



.img-detail-card{
    width: 250px;
}