<div class="app-credits">
<h2 class="cast-title">Cast</h2>
<div fxLayout="row wrap" fxLayoutAlign="center" fxLayoutGap="15px" >

<div *ngFor="let item of cast; let i = index;" class="container-credits-cards">
  <mat-card class=" card-credits" >
    <mat-card-header class="header-card-cast">
      
      <div mat-card-avatar ></div>
      <mat-card-title class="title-cast">{{item.name}}</mat-card-title>
    
    </mat-card-header>
    <div class="img-cast-container">
    <img class="img-cast" mat-card-image src="https://image.tmdb.org/t/p/w300/{{item.profile_path}}" alt="Imagen de {{item.name}}" layout-fill>
    </div>
  </mat-card>
</div>
</div>
</div>

