.container-credits-cards{
    padding: 30px;
    //width: 500px;
    //background-color: gray;
}

.card-credits{
    background-color: lightslategray;
}

.cast-title{
    padding-left: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}