.example-card {
    width: 300px;
}

.header-card{
  margin-top: 10px;
}
  
  .example-header-image {
    background-image: url('http://photos2.fotosearch.com/bthumb/UNN/UNN113/movie-camera-icon-stock-illustration__u17823836.jpg');
    background-size: cover;
  }
  