.example-card {
    max-width: 400px;
  }
  
  .example-header-image {
    background-image: url('https://cdn4.vectorstock.com/i/thumb-large/15/28/user-sign-icon-person-symbol-vector-2861528.jpg');
    background-size: cover;
  }
  